<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InventarioWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="dark-theme">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-boxes me-2"></i>Gestor de Inventarios
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light bi bi-house-door-fill" asp-area="" asp-controller="Home" asp-action="Index"> Inicio</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light bi bi-person-rolodex" asp-area="" asp-controller="Admin" asp-action="AssignRole"> Roles</a>
                            </li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("User"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light bi bi-clipboard2-data-fill" asp-area="" asp-controller="Productos" asp-action="Index"> Inventario</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light bi bi-collection-fill" href="#" id="movimientosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Movimientos
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item text-light" asp-area="" asp-controller="Entradas" asp-action="Index">Añadir entradas</a></li>
                                    <li><a class="dropdown-item text-light" asp-area="" asp-controller="Salidas" asp-action="Index">Añadir salidas</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted mt-4">
        <div class="container text-center">
            <span>&copy; 2025 - Gestor de Inventarios - </span>
            <a class="text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Licencia</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>